In [6]:
n = 5 
for i in range(n):
    print("*",end=" ")

* * * * *

## print a Square

In [8]:
n = 5 

for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

## Increasing triangle pattern

In [9]:
n = 5 

for i in range(n):
    for j in range(i+1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

## Decreasing triangle pattern

In [13]:
n = 5 

for i in range(n):
    for j in range(i,n): # or range(n-i)
        print("*",end =" ")
    print()

* * * * *
* * * *
* * *
* *
*

## Right sided triangle

In [26]:
n = 5 
for i in range(n):
    for j in range(i,n):
        print(" ",end =" ")
    for k in range(i+1):
        print("*", end = " ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

## Right sided traingle

In [31]:
n = 5 
for i in range(n):
    for j in range(i+1):
        print(" ", end = " ")
    for k in range(i,n):
        print("*", end = " ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

## Pyramid

In [53]:
n = 5 

for i in range(n):
    for j in range(i,n): # or range(n-i-1)
        print(" ", end ="")
    
    for k in range(i+1):
        print("*", end =" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

## Hill Pattern

In [57]:
n = 5 
for i in range(n):
    for j in range(i,n): # range(n-i-1)
        print(" ", end = " ")
    for k in range(i+1):
        print("*", end =" ")
    for l in range(i):
        print("*", end =" ")

    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

## Reverse Hill Pattern

In [59]:
n = 5 

for i in range(n):
    for j in range(i+1): # range(i) for now gaps 
        print(" ", end =" ")
    for k in range(i,n):
        print("*", end= " ")
    for l in range (i,n-1):
        print('*', end= " ")
    
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

## Diamond Pattern

In [63]:
n = 5 
for i in range(n-1):
    for j in range(i,n): # range(n-i-1) for no gaps
        print(" ", end= " ")
    for k in range(i+1):
        print("*", end=" ")
    for l in range(i):
        print("*", end = " ")
    print()

for i in range(n):
    for j in range(i+1): # range(i) for no gaps 
        print(" ", end= " ")
    for k in range(i,n):
        print("*", end=" ")
    for l in range(i,n-1):
        print("*", end = " ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

## Double hill

In [96]:
n = 5  # number of rows

for i in range(n):
    # Left spaces (to center the hills)
    for j in range(n - i - 1):
        print(" ", end="")

    # Left hill
    for k in range(i + 1):
        print("*", end=" ")

    # Middle gap
    for j in range(n - i - 1):
        print(" ", end=" ")

    # Right hill
    for k in range(i + 1):
        print("*", end=" ")

    # Move to next line
    print()

    *         *
   * *       * *
  * * *     * * *
 * * * *   * * * *
* * * * * * * * * *

## Butterfly pattern

In [127]:
n = 5  # size

# top half
for i in range(1, n + 1):
    print("* " * i + "  " * (2 * (n - i)) + "* " * i)

# bottom half (use n-1 to avoid duplicating the middle row)
for i in range(n - 1, 0, -1):
    print("* " * i + "  " * (2 * (n - i)) + "* " * i)

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

## Number pattern

In [129]:
n = 5 

for i in range(n):
    for j in range(i+1):
        print("1", end=" ")
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

## Increment number in each row

In [135]:
n = 5 
p = 1 
for i in range(n):
    for j in range(i+1):
        print(p, end = " ")
    p += 1
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

## decreasing number in each row

In [136]:
n = 5 
p = n 

for i in range(n):
    for j in range(i+1):
        print(p, end = " ")
    p -= 1
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

## even number increment in each row

In [137]:
n = 5 
p = 0 

for i in range(n):
    for j in range(i+1):
        print(p, end = " ")
    p += 2
    print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

## odd even pattern

In [141]:
n = 5 
p = 1

for i in range(n):
    for j in range(i+1):
        print(p,end=" ")
    if i%2 == 0:
        p = 2 
    else:
        p = 1
    print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

## incrasing row number diamond pattern

In [144]:
n = 5 
p = 1
for i in range(n-1):
    for j in range(i,n): # range(n-i-1) for no gaps
        print(" ", end= " ")
    for k in range(i+1):
        print(p, end=" ")
    for l in range(i):
        print(p, end = " ")
    p += 1
    
    print()

for i in range(n):
    for j in range(i+1): # range(i) for no gaps 
        print(" ", end= " ")
    for k in range(i,n):
        print(p, end=" ")
    for l in range(i,n-1):
        print(p, end = " ")
    p += 1
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    6 6 6 6 6 6 6
      7 7 7 7 7
        8 8 8
          9

## increasing decreasing diamond pattern

In [148]:
n = 5 
p = 1
for i in range(n-1):
    for j in range(i,n): # range(n-i-1) for no gaps
        print(" ", end= " ")
    for k in range(i+1):
        print(p, end=" ")
    for l in range(i):
        print(p, end = " ")
    p += 1
    
    print()

for i in range(n):
    for j in range(i+1): # range(i) for no gaps 
        print(" ", end= " ")
    for k in range(i,n):
        print(p, end=" ")
    for l in range(i,n-1):
        print(p, end = " ")
    p -= 1
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

## incrementing columns

In [150]:
n = 5 


for i in range(n):
    p = 1
    for j in range(i+1):
        print(p, end = " ")
        p += 1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## Pattern : Decreasing Triangle 
## Number : Decrementign columns

In [152]:
for i in range(n):
    for j in range(i+1):
        print(" ",end= " ")
    p = 1
    for j in range(i,n):
        print(p, end = " ")
        p += 1
    print()

  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

## Pattern : Hill Pattern 
## Number : Incrementing columns

In [155]:
n = 5 
for i in range(n):
    for j in range(i,n): # range(n-i-1)
        print(" ", end = " ")
    p = 1 
    for k in range(i+1):
        print(p, end =" ")
        p += 1
    for l in range(i):
        print(p, end =" ")
        p += 1

    print()

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

In [158]:
n = 5 
for i in range(n-1):
    p = 1 
    for j in range(i,n): # range(n-i-1) for no gaps
        print(" ", end= " ")
    for k in range(i+1):
        print(p, end=" ")
        p += 1
    for l in range(i):
        print(p, end = " ")
        p+=1 
    print()

for i in range(n):
    p = 1 
    for j in range(i+1): # range(i) for no gaps 
        print(" ", end= " ")
    for k in range(i,n):
        print(p, end=" ")
        p += 1
    for l in range(i,n-1):
        print(p, end = " ")
        p += 1
    print()

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9
    1 2 3 4 5 6 7
      1 2 3 4 5
        1 2 3
          1

## Pattern : Decreasing Triangle 
## Number: Decrementing Columns

In [163]:
n = 5 
for i in range(n):
    for j in range(i+1):
        print(" ",end= " ")
    for j in range(i,n):
        print(n-j, end = " ")
    print()

  5 4 3 2 1
    4 3 2 1
      3 2 1
        2 1
          1

## or

In [168]:
n = 5 
k = 5 
for i in range(n):
    p = k 
    for j in range(i):
        print(" ", end=" ")
    for j in range(i,n):
        print(p,end=" ")
        p -= 1
    k -= 1
    print()

5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1

## Pattern : Increasing triangle 
## number : decrementing columns

In [166]:
n = 5 


for i in range(n):
    for j in range(i+1):
        print(n-j, end = " ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

## Pattern : Hill Triangle 
## Number Increasing & Decreasing Column

In [173]:
n = 5 

for i in range(n):
    for j in range(i,n): # range(n-i-1)
        print(" ", end = " ")
    p = 1 
    for k in range(i):
        print(p, end =" ")
        p += 1
    for l in range(i+1):
        print(p, end =" ")
        p -= 1

    print()

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

## Floyd Triangle

In [175]:
n = 4 
p = 1 
for i in range(n):
    for j in range(i+1):
        print(p,end=" ")
        p += 1
    print()

1
2 3
4 5 6
7 8 9 10

## Pattern: Increasing Triangle 
## character: A

In [178]:
n = 5 
for i in range(n):
    for j in range(i+1):
        print("A",end=" ")
    print()

A
A A
A A A
A A A A
A A A A A

## Patter: Increasing Triangle 
## Character : Incrementing rows

In [180]:
n = 5 
p = 65 
for i in range(n):
    for j in range(i+1):
        print(chr(p),end=" ")
    
    p += 1
    
    print()

A
B B
C C C
D D D D
E E E E E

## Patter: Increasing Triangle 
## Character : Decrementing rows

In [181]:
n = 5 
p = 69
for i in range(n):
    for j in range(i+1):
        print(chr(p),end=" ")
    
    p -= 1
    
    print()

E
D D
C C C
B B B B
A A A A A

In [191]:
n = 5 
for i in range(n):
    for j in range(n):
        if (j == 0 or j == n-1) or (i==0 or i ==n-1):
            print("*",end=" ")
        else:
            print(" ",end=" ")

    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [196]:
n = 5 

for i in range(n):
    for j in range(i+1):
        if j == 0 or i == n-1 or i ==j :
            print("*",end= " ")
        else:
            print(" ",end = " ")
    print()

*
* *
*   *
*     *
* * * * *

In [206]:
n = 5 

for i in range(n):
    for j in range(i,n):
        if j == i or i == 0 or j == n-1 :
            print("*",end= " ")
        else:
            print(" ",end = " ")
    print()

* * * * *
*     *
*   *
* *
*

In [217]:
n = 5
p = 1
for i in range(n):
    for j in range(i,n):
        if j == i or i == 0 or j == n-1 :
            print("*",end= " ")
        else:
            print(" ",end = " ")
    print()

* * * * *
*     *
*   *
* *
*

In [214]:
n = 5
p = 1
for i in range(n):

    for j in range(i,n):
        if j == i or i == 0 or j == n-1 : 
            print(p,end =" ")
        else :
            print(" ",end=" ")
    p += 1

    print()

1 1 1 1 1
2     2
3   3
4 4
5

In [231]:
n = 5 
for i in range(n):
    for j in range(i,n):
        print(" ", end=" ")
    
    for k in range(i):
        if i == n -1 or k ==0:
            print("*",end =" ")
        else:
            print(" ", end=" ")

    for m in range(i+1):
        if i == n-1 or m == i :
            print("*",end=" ")
        else:
            print(" ",end =" ")
    print ()

          *
        *   *
      *       *
    *           *
  * * * * * * * * *

In [242]:
n = 5 
for i in range(n-1):
    for j in range(i,n): # range(n-i-1) for no gaps
        print(" ", end= " ")
    for k in range(i+1):
        if k == 0 :
            print("*", end=" ")
        else:
            print(" ",end =" ")
    for l in range(i):
        if l == i -1 :
            print("*", end = " ")
        else:
            print(" ",end=" ")
    print()

for i in range(n):
    for j in range(i+1): # range(i) for no gaps 
        print(" ", end= " ")
    for k in range(i,n):
        if k == i :
            print("*", end=" ")
        else:
            print(" ", end=" ")
    for l in range(i,n-1):
        if l ==n-2  :
            print("*", end = " ")
        else:
            print(" ",end=" ")
    print()

          *
        *   *
      *       *
    *           *
  *               *
    *           *
      *       *
        *   *
          *